.image {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* spacing between images */
}

.image3 {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* spacing between images */
}

.image4 {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* spacing between images */
}