.image {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* spacing between images */
}

.image1 {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* spacing between images */
}

.image2 {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* spacing between images */
}